*{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }


.clearfix {
    clear: both;
}


body{
    background: rgb(197, 192, 192);
}

.container {
    width: 960px;
    margin: 0 auto;
    background: rgb(197, 192, 192)
}

.header-container {
    width: 880px;
    text-align: center;
    height: 350px;
    background: whitesmoke;
    margin: 0 auto;
    
}

.detail-container{
    background-color: rgb(27, 34, 78);
    color: #fff;
    height: 240px;
    padding-top: 20px; 
    margin-top: 9px;
}

.profile-image{
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: #fff 5px solid;
    border-width: 6px;
    margin-left: 30px;
    margin-top: 120px;
    
}

.profile-image>img{
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.detail {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left:-275px;
    margin-top: -120px;
    
}

.title {
    font-family: 'Kanit', sans-serif;
    margin-left: 150px;
    margin-top: -50px;
    
}


.connec  {
    clear: both;
    position: static;
    justify-content: center;
    margin-top: -25px;
    margin-left: 660px;
    
    overflow: hidden;
    display: flex;
}

.send  {
    clear: both;
    position: static;
    justify-content: center;
    margin-top: -19px;
    margin-left: 750px;
    
    overflow: hidden;
    display: flex;
}


.feed-menu {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px; 
    padding-top: 12px;
    padding-bottom: 0px ;
    overflow: hidden;
    background-color:whitesmoke;
    width: 100%;
    height: 20px;
    text-align: center;
  }

.button-feed {
    display: inline;
    text-align: center;
    padding: 14px 18px;
    
    }


.text-button {
    
    text-decoration:none;
    color: #111;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}



.exp-container {
    margin-left: 41px; 
    margin-top: 20px;
    width: 430px;
    height: 700px;
    background: whitesmoke;
    text-align: center;
    float: left;
     
}

.exp {
    float: left; 
    margin-left: 60px;
    margin-top: 25px;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;

}

.exp-detail {
    float: left; 
    margin-left: 0px;
    padding: 20px 30px 20px 30px; 
    margin-top: 0px;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    text-align: left;
    
}

.detail-address {
    font-family: 'Prompt', sans-serif;
    color: #385898;
    text-decoration: none;
}

.exp-detail-more {
    float: left; 
    margin-left: 0px;
    margin-top: 0px;
    padding: 20px 30px 20px 30px; 
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    text-align: left;
    text-indent: 50px;
}

.sidebar-container {
    margin-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    width: 410px;
    height: 700px;
    text-align: center;
    float: left;
    background: rgb(105, 206, 159);
}

.event-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 430px;
    height: 300px;
    background: whitesmoke;
    
}

.event {
    padding: 0px 0px 0px 0px;
    float: left; 
    margin-left: 60px;
    margin-top: 25px;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;

}